.DS_Store
node_modules
__pycache__

# build dist
.nyc_output
*.log
logs
/dist/
/cjs/
/esm/
/release/
/debug/
/coverage/
/docs/
tmp
/.tmp
cache
.cache

# manager
npm-debug.log
package-lock.json
yarn.lock
yarn-error.log
pnpm-lock.yaml
.pnpm-debug.log

# config
/.flh.config.js
/lzwme_ql_config.*

.workbuddy
.codebuddy
.cluade
.cursor

# 青龙面板会复制一份到当前目录
/sendNotify.js
